@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 130px;
  border-radius: 10px;
  height: 170px;
  margin-top: 30px;
}

.header {
  font-size: 30px;
}

.footer {
  font-size: 30px;
  transform: rotate(-180deg);
}

#num {
  font-size: 30px;
}

.heart:before {
  content: "♥";
}

.spade:before {
  content: "♠";
}

.club:before {
  content: "♣";
}

.diamond:before {
  content: "♦";
}

.rojo {
  color: red;
}

.negro {
  color: black;
}
